#!/bin/sh
# Copyright 2020 Benoît Stahl
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
      mkdir  -p /tmp/wazo_plugind_sounds_plugin_connectino
      cp -r  wazo_plugind_sounds_plugin_connectino/sounds  /tmp/wazo_plugind_sounds_plugin_connectino/sounds
        ;;

    package)
        ;;

    install)
        tar -xvf /tmp/wazo_plugind_sounds_plugin_connectino/sounds/fa_FA.tar.gz -C /usr/share/asterisk/sounds/ 
        rm -rf /tmp/wazo_plugind_sounds_plugin_connectino
        ;;

    uninstall)
    rm -rf  /usr/share/asterisk/sounds/fa_FA
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
