#!/bin/sh
# Copyright 2020 Benoît Stahl
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
      cp fa_FA.tar.gz /tmp/
        ;;

    package)
        ;;

    install)
      mkdir -p /usr/share/asterisk/sounds/fa_FA
      ls /tmp/fa_FA.tar.gz | tar -xz -C /usr/share/asterisk/sounds/fa_FA --strip-components=1
        ;;
      #tar -xvf ./fa_FA.tar.gz -C /usr/share/asterisk/sounds/fa_FA/
        ;;

    uninstall)
      rm -rf  /usr/share/asterisk/sounds/fa_FA
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
